/* Layout 2 */


/* Containers */
/* Used to contain content and contrast "main" */
.contentContainer {
    background: rgb(255,255,255,1);
    padding: 20px;
    border-radius: 12px;
    max-width: 800px;
    margin: 0 auto;
    min-height: 250px;
}

/* Temporary Container to show construction */
.constructionContentContainer {
    color: red;
    background: rgb(255,255,255,1);
    padding: 20px;
    border-radius: 12px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}


/* Logo Styles */
.footerLogo {
    max-width: 120px;
    border-radius: 12px;
}


/* Other Global Styles */
.tagline {
    font-style: italic;
    margin: 5px 0;
    color: #ffffff;
    font-size: 1rem;
}
